{% load static %}

<!DOCTYPE html>
<html>
<head>
	<title>Current Weather</title>
	
	<link rel="stylesheet" type="text/css" href="{% static 'weather/vendors/bootstrap/css/bootstrap.css' %}" />
	<link rel="stylesheet" type="text/css" href="{% static 'weather/css/style.css' %}" />

</head>
<body>

	<!-- replace this html -->
	<div class="container">
		<div class="jumbotron text-light bg-primary">
			<h1>Homepage</h1>
			<p>You've set your environment up correctly!</p>
		</div>

		<a href="/salidify/browseSalads/" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">browseSalads</a>
		<a href="/salidify/similarSalads/" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">similarSalads</a>
		<a href="/salidify/viewIngredients/" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">viewIngredients</a>
		<a href="/salidify/alternateIngredients/" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">alternateIngredients</a>
		<a href="/salidify/viewInstructions/" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">viewInstructions</a>
	</div>
	
	<!-- /replace this html -->
</body>
</html>





