{% load static %}

<!DOCTYPE html>
<html>
<head>
	<title>Current Weather</title>
	
	<link rel="stylesheet" type="text/css" href="{% static 'weather/vendors/bootstrap/css/bootstrap.css' %}" />
	<link rel="stylesheet" type="text/css" href="{% static 'weather/css/style.css' %}" />

</head>
<body>

	<!-- replace this html -->
	<div class="container">
		<div class="jumbotron text-light bg-primary">
			<h1>Congratulations</h1>
			<p>You've set your environment up correctly!</p>
		</div>

		<a href="/salidify/screen1/" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Screen1</a>
		<a href="/salidfy/screen2/" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Screen2</a>
		<a href="/salidify/screen3/" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Screen3</a>
		<a href="/salidify/screen4/" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Screen4</a>
	</div>
	
	<!-- /replace this html -->
</body>
</html>





