{% load static %}

<!DOCTYPE html>
<html>
<head>
	<title>Forecast - Alert!</title>
	
	<link rel="stylesheet" type="text/css" href="{% static 'weather/vendors/bootstrap/css/bootstrap.css' %}" />
	<link rel="stylesheet" type="text/css" href="{% static 'weather/css/style.css' %}" />

</head>
<body>
	<!-- your single-location forecast interface here -->
	<div class="card border-light mb-3">
		<div class="card-header">
			<div class="row">
				<div class="col">
					<a href="/weather">
						<button class="btn btn-default">
							<img src="https://img.icons8.com/ios/24/000000/back--v1.png" width="40"/>
					   </button>
					</a>
				</div>
				<div class="col-6 align-self-center text-center">
					<h1 class="text">Tampa, Florida</h1>
				</div>
				<div class="col text-right">
					<button class="btn btn-default">
						<img src="https://img.icons8.com/ios/100/000000/star--v1.png" width="40"/>
				   </button>
				</div>
			</div>
		</div>
		<div class="card-body align-self-center" style="width: 95%">
			<div class="row">
				<div class="card border-dark mb-3">
						<div class="card-body">
							<button class="btn float-left">
								<img src="https://img.icons8.com/ios/24/000000/delete-sign--v1.png" width="30"/>
							</button>
						</div>
						<div class="card-body text-center">
							<img src="https://img.icons8.com/emoji/500/000000/warning-emoji.png" width="350">
							<h1 class="card-title text-center">STORM ALERT</h1>
							<div class="row mt-4">
								<div class="col">
								</div>
								<div class="col-5">
									<h2 class="card-text text-center">Orlando skies displaying level 3 lightning strikes as of 8:10 PM.</h2>
								</div>
								<div class="col">
								</div>
							</div>
							<div class="row mt-5">
							</div>
							<button type="button" class="btn btn-primary"><h2 class="text">See Storm Info</h2></button>
							<div class="row mt-5">
							</div>
						</div>
					</div>
				</div>
			</div>
			</div>
			<div class="row mt-5">
				<div class="card" style="width: 100%;">
					<div class="card-header">
						<h2 class="card-text text-center">Level 5 Hurricane in Tampa</h2>
					  </div>
					<div class="card-body" style="margin: 0%; padding: 0%;">
						<img src="https://i.ibb.co/yBqSkYb/hurricane2.png" style="width: 100%;"/>
					</div>
				  </div>
			</div>
			<div class="row">
				<div class="card" style="width: 100%;">
					<div class="card-header">
						<h2 class="card-text text-center">5 Injured So Far From Tampa Hurricane</h2>
					  </div>
					<div class="card-body" style="margin: 0%; padding: 0%;">
						<img src="https://i.ibb.co/QrYjcbV/hurricane4.png" style="width: 100%;"/>
					</div>
				  </div>
			</div>
		</div>
	</div>
</body>
</html>





