{% load static %}

<!DOCTYPE html>
<html>
<head>
	<title>Forecast - Alert!</title>
	
	<link rel="stylesheet" type="text/css" href="{% static 'weather/vendors/bootstrap/css/bootstrap.css' %}" />
	<link rel="stylesheet" type="text/css" href="{% static 'weather/css/style.css' %}" />

</head>
<body>
	<!-- your single-location forecast interface here -->
	<div class="card">
		<div class="card-header">
			<div class="row">
				<div class="col">
					<button class="btn btn-default">
						<img src="https://img.icons8.com/ios/24/000000/back--v1.png" width="20"/>
				   </button>
				</div>
				<div class="col-6 align-self-center text-center">
					<p class="text">Miami, Florida</p>
				</div>
				<div class="col"></div>
			</div>
		</div>
		<div class="card-body">
			<div class="card border-dark mb-3" style="width: 90%;">
				<div class="card-body">
					<button class="btn float-left">
						<img src="https://img.icons8.com/ios/24/000000/delete-sign--v1.png" width="30"/>
				</button>
				</div>
				<div class="card-body text-center">
				<img src="https://img.icons8.com/emoji/48/000000/warning-emoji.png" width="250">
				<h2 class="card-title text-center">STORM ALERT</h2>
				<h5 class="card-text text-center">Miami experiencing a level 5 hurricane as of 8:10 PM.</h5>
				</div>
			</div>
		</div>
	</div>
</body>
</html>





