{% load static %}

<!DOCTYPE html>
<html>
<head>
	<title>Forecast</title>
	
	<link rel="stylesheet" type="text/css" href="{% static 'weather/vendors/bootstrap/css/bootstrap.css' %}" />
	<link rel="stylesheet" type="text/css" href="{% static 'weather/css/style.css' %}" />

</head>
<body>
	<!-- your single-location forecast interface here -->
	<div class="card border-light mb-3">
		<div class="card-header">
			<div class="row">
				<div class="col">
					<button class="btn btn-default">
						<img src="https://img.icons8.com/ios/24/000000/back--v1.png" width="40"/>
				   </button>
				</div>
				<div class="col-6 align-self-center text-center">
					<h1 class="text">Tampa, Florida</h1>
				</div>
				<div class="col text-right">
					<button class="btn btn-default">
						<img src="https://img.icons8.com/ios/100/000000/star--v1.png" width="40"/>
				   </button>
				</div>
			</div>
		</div>
		<div class="card-body">
			<div class="row">
				<div class="col">
					<div class="row">
						<div class="col">
							<img src="https://img.icons8.com/ios/100/000000/wind--v1.png" width="80"/>
						</div>
						<div class="col align-self-center">
							<h2 class="row text-left">156 mph</h2>
						</div>
						<div class="col"></div>
					</div>
					<div class="row mt-2">
						<div class="col">
							<img src="https://img.icons8.com/ios/100/000000/blur.png" width="80"/>
						</div>
						<div class="col align-self-center">
							<h2 class="row text-left">50 mm/hr</h2>
						</div>
						<div class="col"></div>
					</div>
					<div class="row mt-2">
						<div class="col">
							<img src="https://img.icons8.com/ios/100/000000/rain--v1.png" width="80"/>
						</div>
						<div class="col align-self-center">
							<h2 class="row text-left">52 F</h2>
						</div>
						<div class="col"></div>
					</div>
				</div>
				<div class="col">
					<div class="row">
						<div class="col align-self-center">
							<h2 class="text-center">Level 5</h2>
						</div>
					</div>
					<div class="row mt-2">
						<div class="col text-center">
							<img src="https://img.icons8.com/ios/100/000000/hurricane.png" width="100"/>
						</div>
					</div>
					<div class="row mt-2">
						<div class="col text-right">
							<img src="https://img.icons8.com/ios/90/000000/hail-damage--v2.png" width="80"/>
						</div>
						<div class="col align-self-center">
							<h2 class="row text-left">10 Chasers</h2>
						</div>
					</div>
				</div>
			</div>
			<div class="row mt-5">
				<div class="col align-self-center">
					<button type="button" class="btn btn-outline-primary" style="width: 100%; background-color:lightcyan"><h2 class="text">Wind - mph</h2></button>
				</div>
				<div class="col align-self-center">
					<button type="button" class="btn btn-outline-primary" style="width: 100%;"><h2 class="text">Precipitation - mm/hr</h2></button>
				</div>
				<div class="col align-self-center">
					<button type="button" class="btn btn-outline-primary" style="width: 100%;"><h2 class="text">Temp - Fahrenheit</h2></button>
				</div>
			</div>
			<div class="row mt-3">
				<img src="https://i.ibb.co/ggwxHcM/windgraph.png" style="width: 100%;"/>
			</div>
			<div class="row mt-5">
				<div class="card" style="width: 100%;">
					<div class="card-header">
						<h2 class="card-text text-center">Level 5 Hurricane in Tampa</h2>
					  </div>
					<div class="card-body" style="margin: 0%; padding: 0%;">
						<img src="https://i.ibb.co/yBqSkYb/hurricane2.png" style="width: 100%;"/>
					</div>
				  </div>
			</div>
			<div class="row">
				<div class="card" style="width: 100%;">
					<div class="card-header">
						<h2 class="card-text text-center">5 Injured So Far From Tampa Hurricane</h2>
					  </div>
					<div class="card-body" style="margin: 0%; padding: 0%;">
						<img src="https://i.ibb.co/Vtr1KL0/Screen-Shot-2021-06-29-at-8-24-48-PM.png" style="width: 100%;"/>
					</div>
				  </div>
			</div>
		</div>
	</div>
</body>
</html>